.header{
    width: 100%;
    background-color: rgb(224, 115, 130);
    border-bottom: solid 1px #201a1e;
}
.menu{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.logo{
    height: 3rem;
}

.menu li{
    font-weight: 600;
    padding: .5rem;
    text-align: center;
}